@using ProjectTraineeAssignment.Models;
@model ProductModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

    <!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Products</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Add Products</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- jquery validation -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Add Products</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Add", "Product", FormMethod.Post, new { @id = "productForm", @name = "productForm", enctype = "multipart/form-data" }))
                    {
                        <div class="card-body">
                            

                            <div class="form-group">
                                <label for="name">Name*</label>
                                @Html.TextBoxFor(x => x.name, htmlAttributes: new { @type = "text", @required = "true", @class = "form-control", @placeholder = "Name", @name = "name", @id = "name" })
                                @Html.ValidationMessageFor(x => x.name, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="name">Category*</label>
                                @Html.DropDownListFor(x => x.category.id,new SelectList(ViewBag.category,"category_id","name"),"Select Category",new {@class= "form-control", @required = "true" })
                                @Html.ValidationMessageFor(x => x.category.id, "", new { @style = "color:red" })
                            </div>

                          


                            <div class="form-group">
                                <label for="price">Price*</label>
                                @Html.TextBoxFor(x => x.price, htmlAttributes: new { @type = "number", @required = "true", @class = "form-control", @placeholder = "Price", @name = "price", @id = "price" })
                                @Html.ValidationMessageFor(x => x.price, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="quantity">Quantity*</label>
                                @Html.TextBoxFor(x => x.quantity, htmlAttributes: new { @type = "number", @required = "true", @class = "form-control", @placeholder = "Quantity", @name = "quantity", @id = "quantity" })
                                @Html.ValidationMessageFor(x => x.quantity, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="short_description">Short Description*</label>
                                @Html.TextAreaFor(x => x.short_description, htmlAttributes: new { @required = "true", @class = "form-control", @placeholder = "Short Description", @name = "short_description", @id = "short_description" })
                                @Html.ValidationMessageFor(x => x.short_description, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="long_description">Long Description</label>
                                @Html.TextAreaFor(x => x.long_description, htmlAttributes: new {@class = "form-control", @placeholder = "Long Description", @name = "long_description", @id = "long_description" })
                                @Html.ValidationMessageFor(x => x.long_description, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="small_image">Small Image*</label>
                                @Html.TextBoxFor(x => x.small_image, htmlAttributes: new { @type = "file", @class = "form-control", @name = "small_image", @id = "small_image" })
                                @Html.ValidationMessageFor(x => x.small_image, "", new { @style = "color:red" })
                            </div>

                            <div class="form-group">
                                <label for="large_image">Large Image</label>
                                @Html.TextBoxFor(x => x.large_image, htmlAttributes: new { @type = "file", @class = "form-control", @name = "large_image", @id = "large_image" })
                                @Html.ValidationMessageFor(x => x.large_image, "", new { @style = "color:red" })
                            </div>



                            
                           
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    }
                </div>
                <!-- /.card -->
            </div>
            <!--/.col (left) -->
            <!-- right column -->
            <div class="col-md-6">
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section validate {
    <script>
        $(function () {
            $("#productForm").validate({
                rules: {
                    name: {
                        required:true
                    },
                    price: {
                        required: true
                    },
                    quantity: {
                        required: true
                    },
                    short_description: {
                        required: true
                    },
                    small_image: {
                        required: true
                    }
                },
                messages: {
                    name:{
                        required: "Name is required"
                    },
                    price: {
                        required: "Price is required"
                    },
                    quantity: {
                        required: "Quantity is required"
                    },
                    short_description: {
                        required: "Short Description is required"
                    },
                    small_image: {
                        required: "Small Image is required"
                    }
                    
                }
            });
        });
    </script>
}