@using ProjectTraineeAssignment.Models;
@model LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="#" class="h1"><b>Login</b></a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <center><span style="color:red">@ViewBag.IdPwdDontMatch</span></center>
                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "loginForm", @name = "loginForm" }))
                {
                    <div class="input-group mb-3">
                        @Html.TextBoxFor(x => x.email, htmlAttributes: new { @type = "email", @class = "form-control", @placeholder = "Email*",@required="true", @name = "email", @id = "email" })<br />
                        @Html.ValidationMessageFor(x => x.email, "", new { @style = "color:red" })
                    </div>


                    <div class="input-group mb-3">
                        @Html.PasswordFor(x => x.pwd, htmlAttributes: new { @class = "form-control", @placeholder = "Password*", @required = "true", @name = "pwd", @id = "pwd" })<br />
                        @Html.ValidationMessageFor(x => x.pwd, "", new { @style = "color:red" })
                    </div>
                    
                    <div class="row">
                        
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
               
                <!-- /.social-auth-links -->
               
                <p class="mb-0">
                    <a href="Register" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>

    <script src="~/scripts/jquery.validate.js"></script>

    <script src="~/scripts/additional-methods.js"></script>
</body>
</html>

<script>

    $(function () {
        $("#loginForm").validate({
            rules: {
                email: {
                    required:true
                },
                pwd: {
                    required:true
                }
            },
            messages: {
                email: {
                    required:"Email is required."
                },
                pwd: {
                    required:"Password is required."
                }
            }
        });
    });
</script>
